@page
@model liaqati_master.Pages.Articles.IndexModel
@{
}
<style>
    body {
        background-color: #F7F7F7;
    }

    .sideArticlesImages {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carouselImages {
        height: 500px;
        width: 100%;
        opacity: 0.9;
        object-fit: cover;
    }

    .overlay {
        background-color: #8F8F8F50;
        opacity: 1;
        transition: .5s;
        z-index: 2;
    }

    .carousel:hover .overlay {
        opacity: 0;
        display: none;
    }

</style>


<div class="position-relative w-100  overflow-hidden" style="height: 70vh;background-image: linear-gradient(#00000060, #00000060),url('/images/articles bg.png');background-size:cover;">
    <div class="h-100">
        <div class="container-fluid h-100 p-0 position-absolute start-0 top-0 bg ">
            <div class="container-xl h-100  d-flex flex-column justify-content-center align-items-center">
                <div class="w-100">
                    <h1 class="text-white text-center py-5 fw-bold">
                        مقالات لياقتي
                    </h1>
                    <div class="p-0 g-0 row col-lg-10 justify-content-center mx-auto form-search">
                        <div class="col-12 my-2 my-lg-0 col-lg-6">
                            <input type="text" name="SearchTearm" class="form-control rounded-end-0" placeholder="الخدمة" />
                        </div>
                        <div class="col-12 my-2 my-lg-0 col-lg-3">
                            <input placeholder="بحث" type="submit" value="بحث" class="form-control rounded-start-0 text-center" style="background-color: #e4dfff" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-lg mt-3" style="font-size:13px;">
    <div class="row">
        <p class="fs-6 p-4">
            الرئيسية
            <img src="~/images/atricles/ic_expand_more_24px.png" />
            مقالات
        </p>
    </div>
    <div class="row">

        <div class="col-lg-6 h-100 align-self-center">
            <div id="carouselExampleCaptions" class="carousel h-100 slide carousel-fade" data-bs-ride="carousel">

                <div class="carousel-inner h-100">
                    <div class="h-100 w-100 position-absolute top-0 start-0 overlay"></div>
                    @for (int i = 0; i < 3; i++)
                    {
                        var active = @i == 0 ? "active" : "";
                        string[] Links = new string[] { "221796.png", "224347.png", "224664.png" };
                        <div class='carousel-item  h-100 @active'>
                            <img src="~/images/atricles/@Links[i]" class="d-block carouselImages" alt="...">
                            <div class="carousel-caption w-100 start-0 m-0 p-3 bottom-0   text-start d-none d-md-block" style="background-color:rgba(255,255,255,0.6);">
                                <p class="text-black-50 fw-bold">رشاقة وتغذية</p>
                                <h6 class="text-dark">@Model.Articles[i].Title      .</h6>
                            </div>
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>

        <div class="col-lg-6 d-flex gap-2 flex-column justify-content-center align-items-center">
            @for (int i = 0; i < 3; i++)
            {
                string[] Links = new string[] { "article1.png", "224058.png", "224756.png" };
                <div class="row w-100 mx-1 bg-white">
                    <div class="col-4 g-0 ">
                        <img src="~/images/atricles/@Links[i]" class="sideArticlesImages" />
                    </div>
                    <div class="col">
                        <div class="pt-2">
                            <p class="fw-bold"> @CommonMethods.GetArabicDateTime(@Model.Articles[i+3].PostDate)   </p>
                            <p class="text-black-50">رشاقة وتغذية</p>
                            <p style="font-weight:bold;">  @Model.Articles[i+3].Title </p>
                        </div>
                        <div class="d-flex justify-content-between ">

                            <div>
                                <p>وقت القراءة  @Model.Articles[i+3].avgReading  دقائق</p>
                            </div>
                            <div class="my-1 d-flex">
                                <img width="20" src="~/images/atricles/share-button-svgrepo-com.png" />

                             


                                    @{
                                     Favorite favorite =new Favorite();

                                        if (Model.Favorites is null)
                                        {
                                             <a asp-area="identity" asp-page="/account/login" style="width: 50px; height: 50px; top: 10px; right: 10px"
                                              class="rounded-pill btn-favourite   text-secondary btn  border bg-white shadow-sm rounded d-flex fw-bold justify-content-center align-items-center align-middle">
                                                <i class="bi bi-heart-fill h3 d-block m-0 mt-1"></i>

                                            </a>

                                        }

                                        else
                                        {
                                            List<Favorite> list = Model.Favorites.Where(p => p.ArticleId == @Model.Articles[i + 3].Id).ToList();

                                            if (list.Count == 0)
                                            {


                                                <form method="post" asp-route-returnUrl="@Url.Page("index", new { area = "" })" asp-page="/favorites/create">


                                                    <input hidden value="@Model.Articles[i+3].Id" asp-for="@favorite.ArticleId" />
                                                <input hidden value="مقالات" asp-for="@favorite.Type" />

                                                    <button title="add to Favorite" class="rounded-pill btn-favorite text-secondary btn   bg-white  rounded d-flex fw-bold justify-content-center align-items-center align-middle">
                                                        <i class="bi bi-heart-fill h4 d-block m-0 mt-1"></i>

                                                    </button>

                                                </form>

                                            }
                                            else
                                            {
                                                <form asp-route-id="@Model.Articles[i+3].Id" method="post" asp-page-handler="RemoveFavorite" asp-route-returnUrl="@Url.Page("index", new { area = "" })" asp-page="/favorites/index">



                                                    <button title="add to Favorite" onclick="AddFavorite('${Product.id}')" class="rounded-pill btn-favorite text-secondary btn   bg-white  rounded d-flex fw-bold justify-content-center align-items-center align-middle">
                                                        <img width="25" height="25" src="/Images/heart-solid-24.png" />

                                                    </button>

                                                </form>
                                            }


                                        }
                                    }



                            </div>



                        </div>

                    </div>

                </div>

            }
        </div>

    </div>

</div>
@await Component.InvokeAsync("MostViewedArticles")


<h3 class="mx-5 mt-4 mb-0">جميع المقالات </h3>
<div class="container-lg">
    <div class="row  " id="rowData">
        @* @for (int i = 0; i < 4; i++)
        {
        string[] Links = new string[] { "224664.png", "221474.png", "224347.png", "223603.png" };


        }*@


         @foreach (var item in Model.AllArticles)
        {

            <div class="col-12 col-md-6  p-2">
                <div class="row bg-white w-100">
                    <div class="col-4 g-0">
                        <img style="height:150px" src="@item.Image" class="sideArticlesImages" />
                    </div>
                    <div class="col p-2 m-0">
                        <div class="d-flex justify-content-between ">

                            <div>
                                <p class="fw-bold"> رشاقة وتغذية  </p>
                            </div>
                            <div class="my-1 d-flex">
                                <img width="20" src="~/images/atricles/share-button-svgrepo-com.png" />


                                @{
                                    if (Model.Favorites is null)
                                    {
                                        <a asp-area="identity" asp-page="/account/login" style="width: 50px; height: 50px; top: 10px; right: 10px"
                               class="rounded-pill btn-favourite   text-secondary btn  border bg-white shadow-sm rounded d-flex fw-bold justify-content-center align-items-center align-middle">
                                            <i class="bi bi-heart-fill h3 d-block m-0 mt-1"></i>
                                      
                                        </a>

                                    }

                                    else
                                    {
                                        List<Favorite> list = Model.Favorites.Where(p => p.ArticleId == item.Id).ToList();

                                        if (list.Count == 0)
                                        {
                                            Favorite favorite = new();

                                            <form method="post" asp-route-returnUrl="@Url.Page("index", new { area = "" })" asp-page="/favorites/create">


                                                <input hidden value="@item.Id" asp-for="@favorite.ArticleId" />
                                                <input hidden value="مقالات" asp-for="@favorite.Type" />

                                                <button title="add to Favorite"  class="rounded-pill btn-favorite text-secondary btn   bg-white  rounded d-flex fw-bold justify-content-center align-items-center align-middle">
                                                    <i class="bi bi-heart-fill h4 d-block m-0 mt-1"></i>

                                                </button>

                                            </form>

                                        }
                                        else
                                        {
                                            <form asp-route-id="@item.Id" method="post" asp-page-handler="RemoveFavorite" asp-route-returnUrl="@Url.Page("index", new { area = "" })" asp-page="/favorites/index">



                                                <button title="add to Favorite" onclick="AddFavorite('${Product.id}')" class="rounded-pill btn-favorite text-secondary btn   bg-white  rounded d-flex fw-bold justify-content-center align-items-center align-middle">
                                                    <img width="25" height="25" src="/Images/heart-solid-24.png" />

                                                </button>

                                            </form>
                                        }


                                    }






                                }
                            </div>




                        </div>
                        <p> @CommonMethods.GetArabicDateTime(@item.PostDate)     </p>
                        <p style="font-weight:bold;">  @item.Title </p>



                    </div>

                </div>
            </div>


}






    </div>

    <div class="row g-0 p-0 my-3">
        <div class="col d-flex justify-content-end ">
            @* onclick="fetchData();"*@
            <a asp-page="AllArticles" class="btn btn-main"  >
                <span class="spinner-grow  spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
                عرض المزيد
            </a>
        </div>
    </div>

</div>
@*

<img src="~/images/atricles/221474.png" class="sideArticlesImages" />

<img src="~/images/atricles/224347.png" class="sideArticlesImages" />


<img src="~/images/atricles/223603.png" class="sideArticlesImages" />
*@


<script>
    let page = 1;
    let rowOfdata = document.getElementById('rowData');
    fetchData();
    function fetchData() {
        fetch("/api/ArticlesApi/GetArticlesWithLoadMore?page=" + page + "&size=4").then(response => response.json()).then(data => { console.log(data); data.forEach(art => RenderArticles(art)) });
        page++;
    }


    function RenderArticles(article) {
        let col = document.createElement('div');
        col.className = "col-md-6 p-2"
        col.innerHTML = `<div class=""><div class="row g-0 bg-white"><div class="col-4 g-0"><img src="/images/atricles/224664" class="sideArticlesImages" /></div><div class="col p-2 m-0"><div class="d-flex justify-content-between "><div><p class="fw-bold">رشاقة وتغذية</p></div><div><img width="20" src="/images/atricles/share-button-svgrepo-com.png" /><img width="20" src="/images/atricles/heart-svgrepo-com (1).png" /></div></div><p>فبراير 18 2023</p><p style="font-weight:bold;">فوائد المغنيسيوم للتنحيف ولصحة الجسم كافة لا تُثمّن</p></div> </div>`
        rowOfdata.appendChild(col);
    }
</script>