@page
@model liaqati_master.Areas.Administrator.Pages.AchievementsPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Achievements</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Achievements.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Achievements.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Achievements.FromDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Achievements.FromDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Achievements.ToDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Achievements.ToDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Achievements.File)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Achievements.File)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Achievements.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Achievements.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Achievements?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
