@page
@model liaqati_master.Pages.HealthyReicpe.CreateHealthyModel
@{
    ViewData["Title"] = "إضافة إنجاز";
    ViewData["LinkName"] = "Categories";
}
@section Styles{
    <link href="~/assets/css/Tables.css" rel="stylesheet" />
    <style>
        body {
            background-color: #f5f6f1;
        }

        * {
            font-family: "Almarai", sans-serif;
        }

        .ingredient {
            background: #dacdea;
            color: #8763b3;
            border-radius: 20px;
            padding: 3px 15px;
        }

        .ingredients {
            overflow-y: scroll;
        }
    </style>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="pb-3">@ViewData["Title"]</h3>
                    <form method="post" class="form theme-form">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.Title"></label>
                                    <input asp-for="HealthyRecipes.Title" class="form-control" placeholder="">
                                    <span asp-validation-for="HealthyRecipes.Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.Price"></label>
                                    <input asp-for="HealthyRecipes.Price" class="form-control" placeholder="">
                                    <span asp-validation-for="HealthyRecipes.Price" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="col-12">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.Description"></label>
                                    <textarea asp-for="HealthyRecipes.Description" class="form-control rich-editor" placeholder=""></textarea>
                                    <span asp-validation-for="HealthyRecipes.Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.Protein"></label>
                                    <input asp-for="HealthyRecipes.Protein" class="form-control" placeholder="">
                                    <span asp-validation-for="HealthyRecipes.Protein" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.Calories"></label>
                                    <input asp-for="HealthyRecipes.Calories" class="form-control" placeholder="">
                                    <span asp-validation-for="HealthyRecipes.Calories" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.Total_Carbohydrate"></label>
                                    <input asp-for="HealthyRecipes.Total_Carbohydrate" class="form-control" placeholder="">
                                    <span asp-validation-for="HealthyRecipes.Total_Carbohydrate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.PrepTime"></label>
                                    <input asp-for="HealthyRecipes.PrepTime" class="form-control" placeholder="">
                                    <span asp-validation-for="HealthyRecipes.PrepTime" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.MealType"></label>

                                    <br />
                                    @for (var index = 0; index < @Model.lstCheckBox.Count(); index++)
                                    {
                                        <label class="form-check-label p">
                                            @Model.MealType[index]
                                        </label>
                                        <input type="hidden" asp-for="@Model.lstCheckBox[index].Name" />
                                        <input type="checkbox" asp-for="@Model.lstCheckBox[index].IsChecked" />
                                        if ((index + 1) % 3 == 0)
                                        {
                                            <br />
                                        }
                                    }

                                    <span asp-validation-for="HealthyRecipes.MealType" class="text-danger"></span>


                                    @*<select asp-for="HealthyRecipes.MealType" class="form-select" asp-items="Model.MealTypeTypeStatusList">
                                    <option value="-1">Please Select MealType</option>
                                    </select>*@

                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.DietaryType"></label>
                                    <select asp-for="HealthyRecipes.DietaryType" class="form-select" asp-items="Model.DietaryTypeStatusList">
                                        <option disabled value="-1">Please Select DietaryType</option>
                                    </select>
                                    <span asp-validation-for="HealthyRecipes.DietaryType" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                        <div class="row justify-content-center my-5">
                            <div data-v-2eea9796="" class="col-md-12">
                                <div class="field-value">
                                    <div class="form-label d-flex flex-row align-items-center justify-content-between">
                                        <div>المكونات</div>
                                    </div>
                                    <div class="input-group field-value">
                                        <input class="form-control" id="txtPreparationMethod" placeholder="اكتب شيئاً..." />
                                        <button id="BtnAdd" type="button" class="text-nowrap bg-white fw-medium btn btn-outline-primary">
                                            <i class="bi bi-plus h5 fw-bold"></i>
                                        </button>
                                    </div>
                                    <div class="border-top-0 rounded-bottom overflow-hidden border">
                                        <div class="p-2 bg-white d-flex gap-1 flex-wrap justify-content-start align-items-start ingredients"
                                             style="height: 80px"
                                             id="StepsReviewer"></div>
                                    </div>
                                    <div class="small fw-bold text-end mt-1 text-danger d-flex">
                                        <div class="field-area-visible-on-hover ms-auto" id="error"></div>
                                    </div>
                                    <div class="small fw-bold text-end mt-1 text-danger d-flex">
                                        <span asp-validation-for="HealthyRecipes.PreparationMethod" class="text-danger"></span>
                                    </div>
                                    <div class="small fw-bold text-end mt-1 text-muted d-flex">
                                        <div class="field-area-visible-on-hover ms-auto" id="NoofSteps"></div>
                                    </div>
                                </div>
                                <textarea class="form-control" hidden asp-for="HealthyRecipes.PreparationMethod" id="HealthyRecipes_PreparationMethod"></textarea>
                            </div>
                        </div>
                        <div class="row justify-content-center my-5">
                            <div data-v-2eea9796="" class="col-md-12">
                                <div class="field-value">
                                    <div class="form-label d-flex flex-row align-items-center justify-content-between">
                                        <div>المكونات</div>
                                    </div>
                                    <div class="input-group field-value">
                                        <input class="form-control" id="txtIngredientName" placeholder="اكتب شيئاً..." />
                                        <input class="form-control" id="txtIngredientQuantity" placeholder="اكتب شيئاً..." />
                                        <select class="form-control" title="select" id="txtIngredientUnit" placeholder="اكتب شيئاً...">
                                            <option value="cup">كوب</option>
                                            <option value="spoon">معلقة</option>
                                            <option value="gram">غرام</option>
                                        </select>

                                        <button id="BtnAddIngredients" type="button" title="add" class="text-nowrap bg-white fw-medium btn btn-outline-primary"><i class="bi bi-plus h5 fw-bold"></i></button>

                                    </div>
                                    <div class="rounded-bottom overflow-hidden ">
                                        <div class="row ">
                                            <div class="col-sm-12">
                                                <div class="card mt-3 p-0 border-raduis">
                                                    <div class="table-responsive table-hover">
                                                        <table class="table  table-borderless" id="Tbl">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col" width="180">المكون</th>
                                                                    <th scope="col" width="180">الكمية</th>
                                                                    <th scope="col" width="180">وحدة القياس</th>
                                                                    <th scope="col" width="180"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="ingredients_container">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="small fw-bold text-end mt-1 text-danger d-flex">
                                        <span asp-validation-for="HealthyRecipes.Ingredients" class="text-danger"></span>
                                    </div>
                                    <div class="small fw-bold text-end mt-1 text-muted d-flex">
                                        <div class="field-area-visible-on-hover ms-auto" id="NoFoIngredients"></div>

                                    </div>
                                </div>
                                <textarea class="form-control" id=" " hidden asp-for="HealthyRecipes.Ingredients"></textarea>
                            </div>
                        </div>



                        <div class="row justify-content-end ">
                            <div class="col-sm-4 justify-content-end d-flex">
                                <div class="mb-3">
                                    <button class="btn-primary btn  mx-auto col-auto" type="submit"> حقظ التعديلات <i class="bi bi-plus-square-dotted"></i> </button>
                                    <a class="btn-danger btn  mx-auto col-auto" asp-page="./Index"> الغاء <i class="bi bi-arrow-90deg-down"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/JavaScript/HealthyRecipecs.js"></script>



    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/javascript/richtexteditor.js" asp-append-version="true"></script>
}

@*
              //ingredient.onclick = () => {
            //    ingredients_container.removeChild(ingredient);
            //    listOfIngredients.splice(listOfIngredients.indexOf(Name), 1);
            //    txtAreaIngredients.value = "";
            //    listOfIngredients.forEach((txt, index, array) => {
            //        txtAreaIngredients.value += txt.Name + "," + txt.Quantity + "," + txt.Unit + "\n"
            //    });
            //};*@