@model HealthyRecipe
<div class="col p-3">
    <div class="card rounded-0 shadow-sm h-100">
        <div class="position-relative  overflow-hidden image-box" style="height:300px">
            <a asp-route-id="@Model.Id" asp-page="HealthyRecipesDetiles">  <img src="@Model.Image" class="card-img-top rounded-0 object-fit-cover position-absolute w-100 start-0 top-0 h-100" alt="..."></a>
        </div>
        <div class="card-body p-0">
            <div class="d-flex justify-content-between align-items-center  px-2 title-box">
                <h6 class="card-title text-black fw-bold  m-0">
                    @Model.Title
                </h6>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a title="share" class=" border-0 bg-transparent " href="#">
                        <i class="bi bi-share fs-4 text-dark"></i>
                    </a>

                    @{





                        List<Favorite> Favorites = (List<Favorite>)ViewData["listFavoritesHealthy"];

        



                        if (Favorites is null)
                        {
                            <a asp-area="identity" asp-page="/account/login" style="width: 50px; height: 50px; top: 10px; right: 10px"
                       class="rounded-pill btn-favourite   text-secondary btn  border bg-white shadow-sm rounded d-flex fw-bold justify-content-center align-items-center align-middle">
                                <i class="bi bi-heart-fill h3 d-block m-0 mt-1"></i>

                            </a>

                        }

                        else
                        {
                            List<Favorite> list = Favorites.Where(p => p.HealthyRecipeId == Model.Id).ToList();

                            if (list.Count == 0)
                            {
                                Favorite favorite = new();

                                <form method="post" asp-route-returnUrl="@Url.Page("index", new { area = "" })" asp-page="/favorites/create">


                                    <input hidden value="@Model.Id" asp-for="@favorite.HealthyRecipeId" />
                                    <input hidden value="وصفات" asp-for="@favorite.Type" />

                                    <button title="add to Favorite" class="rounded-pill btn-favorite text-secondary btn   bg-white  rounded d-flex fw-bold justify-content-center align-items-center align-middle">
                                        <i class="bi bi-heart-fill h4 d-block m-0 mt-1"></i>

                                    </button>

                                </form>

                            }
                            else
                            {
                                <form asp-route-id="@Model.Id" method="post" asp-page-handler="RemoveFavorite" asp-route-returnUrl="@Url.Page("index", new { area = "" })" asp-page="/favorites/index">



                                    <button title="add to Favorite" onclick="AddFavorite('${Product.id}')" class="rounded-pill btn-favorite text-secondary btn   bg-white  rounded d-flex fw-bold justify-content-center align-items-center align-middle">
                                        <img width="25" height="25" src="/Images/heart-solid-24.png" />

                                    </button>

                                </form>
                            }


                        }
                    }

                   



                </div>
            </div>
            <div class="d-flex justify-content-between g-0  p-2">
                <div class="d-flex">
                    <div class="rating">
                        <div class="rating position-relative">
                            <div class="rating-upper d-flex ">
                                <i class="bi bi-star-fill text-black-50"></i>
                                <i class="bi bi-star-fill text-black-50"></i>
                                <i class="bi bi-star-fill text-black-50"></i>
                                <i class="bi bi-star-fill text-black-50"></i>
                                <i class="bi bi-star-fill text-black-50"></i>
                            </div>
                            <div class="rating-lower d-flex  position-absolute top-0 start-0 overflow-hidden  w-@Model.RatePercentage">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="m-0">
                            (@Model.Rate?.Count)
                        </p>
                    </div>
                </div>
                <div class="d-flex">
                    <i class="bi bi-alarm mx-1"></i>
                    <p class="m-0">
                        <span> (@Model.PrepTime)</span>
                        دقيقة
                    </p>
                </div>
                <div class="d-flex">
                    <i class="bi bi-cup-hot mx-1"></i>
                    <p class="m-0">متوسط</p>
                </div>
            </div>
        </div>
    </div>
</div>
