@page
@model liaqati_master.Areas.Admin.Pages.Products.IndexProductModel
@{
    ViewData["Title"] = "قائمة المنتجات";
    ViewData["LinkName"] = "Products";
    var parms = new Dictionary<string, string>
    {
        {nameof(Model.ProductQueryParamters.CurPage),Model.ProductQueryParamters.CurPage.ToString()},
        {nameof(Model.ProductQueryParamters.SortBy),Model.ProductQueryParamters.SortBy},
        {nameof(Model.ProductQueryParamters.SortOrder),Model.ProductQueryParamters.SortOrder},
        {nameof(Model.ProductQueryParamters.SearchTearm),Model.ProductQueryParamters.SearchTearm??""},
        {nameof(Model.ProductQueryParamters.Size),Model.ProductQueryParamters.Size.ToString()},
        {nameof(Model.ProductQueryParamters.CategoryId),Model.ProductQueryParamters.CategoryId??""},
    };
    if (Model.ProductQueryParamters.SortOrder == "asc")
        parms["SortOrder"] = "desc";
    else
        parms["SortOrder"] = "asc";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/assets/css/Tables.css" asp-append-version="true">
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/select2-bootstrap-5-theme/select2-bootstrap-5-theme.rtl.min.css" rel="stylesheet" />
}

<form method="get">
    <input type="hidden" name="CurPage" asp-for="@Model.ProductQueryParamters.CurPage" />

    <div class="container-lg ">
        <div class=" ">
            <div class="row ">
                <div class="col-sm-12">
                    <div class="card p-3 border-raduis">
                        <div class="card-header bg-transparent px-0 py-4 ">

                            <div class="d-flex justify-content-between align-items-center">
                                <h5>
                                    @ViewData["Title"]
                                </h5>
                                <div class="d-flex gap-3">
                                    <button type="button" class="btn btn-primary" id="single-select-field-clear">clear</button>
                                    <select name="Title" class="form-select" asp-items="@Model.Titles" asp-for="@Model.ProductQueryParamters.Title" id="single-select-field" data-placeholder="من فضلك حدد اسم الصنف" onchange="submit()">
                                        <option value="">من فضلك حدد اسم الصنف</option>
                                    </select>
                                    <select name="Size" class="form-select" asp-items="@Model.lstPageSize" asp-for="@Model.ProductQueryParamters.Size" onchange="submit()"></select>
                                </div>
                                <a class="btn btn-primary" asp-page="./Create">إضافة جديد<i class="bi bi-plus-circle-dotted ms-2"></i></a>
                            </div>
                            <div class="d-flex row justify-content-end align-items-center">
                                <div class="d-flex col py-2">
                                    <button class="btn btn-outline-primary me-1" type="submit">بحث</button>
                                    <input class="form-control " asp-for="@Model.ProductQueryParamters.SearchTearm" id="SearchTearm" name="SearchTearm" type="search" placeholder="بحث" aria-label="Search">
                                </div>
                                <div class="d-flex col gap-2">
                                    <select name="SortOrder" class="form-select  " asp-for="@Model.ProductQueryParamters.SortOrder" onchange="submit()">
                                        <option value="asc">أ-ب</option>
                                        <option value="desc">ب-أ</option>
                                    </select>
                                    <select name="SortBy" class="form-select" asp-items="@Model.SortList" asp-for="@Model.ProductQueryParamters.SortBy" onchange="submit()"></select>
                                </div>
                                <div class="d-flex col-12 gap-2">

                                    <select name="CategoryId" class="form-select" asp-items="@Model.Categoires" asp-for="@Model.ProductQueryParamters.CategoryId" onchange="submit()">
                                        <option value="">من فضلك حدد اسم الصنف</option>
                                    </select>

                                </div>
                            </div>

                        </div>
                        @if (!Model.IsGrid)
                        {
                            <div class="table-responsive table-hover">
                                <table class="table  table-borderless" id="Tbl">
                                    <thead>
                                        <tr>
                                            <th scope="col" width="50">
                                                <input class="form-check-input " type="checkbox" id="chk-all" value="">
                                            </th>
                                            <th scope="col" width="100">الصورة</th>
                                            <th scope="col" width="180">العنوان</th>
                                            <th scope="col" width="180">الخصم</th>
                                            <th scope="col" width="120">الخصم</th>
                                            <th scope="col" width="120">الخصم</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.QueryPageResult.ListOfData)
                                        {
                                            <tr>
                                                <td scope="row">
                                                    <label class="d-block">
                                                        <input class="checkbox_animated" type="checkbox">
                                                    </label>
                                                </td>
                                                <td class="">
                                                    <div class="img__box position-relative m-0  rounded-circle">
                                                        <img width="40" alt="Mark" class="position-absolute "
                                                             src="@item.ImgUrl" />
                                                    </div>
                                                </td>

                                                <td>@item.Services!.Title</td>
                                                <td>@item.Services!.Price?.ToString("c")</td>
                                                <td>@item.Discount.ToString("c")</td>

                                                <td>
                                                    <div class="d-flex gap-2">
                                                        <a asp-page="Edit" asp-route-id="@item.Id" class="btn"
                                                           style="background-color: #8763b320; color:#3c077d;   padding: 0.375rem 0.75rem;"
                                                           type="button">
                                                            <i class="bi bi-pencil-square"></i>
                                                        </a>
                                                        <form method="post" asp-page="Delete">
                                                            <input name="id" asp-for="@item.Id" type="hidden" />
                                                            <a class="btn" onclick="DeleteFun(this)" style=" background-color: #d22d3d20; color:#d22d3d;padding: 0.375rem 0.75rem;"> <i class="bi bi-trash"></i> </a>
                                                        </form>

                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                               @{
                                                   ;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="row product-row row-cols-lg-3 p-0 g-0 ">
                                @foreach (var item in Model.QueryPageResult.ListOfData)
                                {

                                    <partial name="_ProductCard" model="item" />

                                }
                            </div>
                        }


                    </div>
                    <partial name="_Manage__data" />
                </div>
            </div>
        </div>
        <partial name="_ConfirmDeleteModel" />
        <partial name="_ImageViewer" />
    </div>
    @{
        parms["CategoryId"] = Model.ProductQueryParamters.CategoryId ?? "";
        var perv = Model.QueryPageResult.PreviousPage.HasValue ? "" : "disabled";
        var next = Model.QueryPageResult.NextPage.HasValue ? "" : "disabled";
        var first = (Model.ProductQueryParamters.CurPage != 1 && Model.QueryPageResult.TotalPages != 0) ? "" : "disabled";
        var last = (Model.ProductQueryParamters.CurPage != Model.QueryPageResult.TotalPages && Model.QueryPageResult.TotalPages != 0) ? "" : "disabled";
        var firstIndex = Math.Max(Model.ProductQueryParamters.CurPage - 2, 1);
        var lastIndex = Math.Min(Model.ProductQueryParamters.CurPage + 2, Model.QueryPageResult.TotalPages);
    }

    <nav aria-label="Page navigation example ">
        <ul class="pagination  justify-content-end px-5">
            @{
                parms["CurPage"] = "1" ?? "";
            }
            <li class="page-item"><a class="page-link @perv" asp-all-route-data="parms">الصفحة الاولى</a></li>
            @{
                parms["CurPage"] = Model.QueryPageResult.PreviousPage.ToString() ?? "";
            }
            <li class="page-item"><a class="page-link @perv" asp-all-route-data="parms">الصفحة السابقة</a></li>

            @for (int i = firstIndex; i <= lastIndex; i++)
            {
                parms["CurPage"] = i.ToString();
                string a = Model.ProductQueryParamters.CurPage == i ? "active" : "";
                <li class="page-item"><a class="page-link @a" asp-all-route-data="parms">@i</a></li>
            }
            @{
                parms["CurPage"] = Model.QueryPageResult.NextPage.ToString() ?? "";
            }
            <li class="page-item"><a class="page-link @next" asp-all-route-data="parms">الصفحة التالية</a></li>
            @{
                parms["CurPage"] = Model.QueryPageResult.TotalPages.ToString() ?? "";
            }
            <li class="page-item"><a class="page-link @next" asp-all-route-data="parms">الصفحة الاخيرة</a></li>
        </ul>
    </nav>
</form>













@section Scripts{
    <script src="~/javascript/table.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/javascript/script.js" asp-append-version="true"></script>
    <script src="~/javascript/script.js" asp-append-version="true"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script>
        $('#single-select-field').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
        });
        $("#single-select-field-clear").on("click", function () {
            $('#single-select-field').val(null).trigger("change");
        });
    </script>
  }



