@page
@model liaqati_master.Pages.ProductsPages.IndexModel
@{
    var parms = new Dictionary<string, string>
    {
        {"CurPage",Model.Parameters.CurPage.ToString()},
        {"SortBy",Model.Parameters.SortBy},
        {"SortOrder",Model.Parameters.SortOrder},
        {"SearchTearm",Model.Parameters.SearchTearm},
        {"Size",Model.Parameters.Size.ToString()},
        {"CategoryId",Model.Parameters.CategoryId??""},
    };
}

<form method="get">
    <div class="position-relative w-100  overflow-hidden" style=" height: 70vh;background-image: linear-gradient(#00000060, #00000060),url(/images/strong-man-training-gym.png)">

        <div class="h-100">
            <div class="container-fluid h-100 p-0 position-absolute start-0 top-0 ">
                <div class="container-xl h-100  d-flex flex-column justify-content-center align-items-center " style="padding-top:120px !important">
                    <div class="w-100">
                        <h1 class="text-white text-center py-3 fw-bold">
                            لياقتي لحياة أفضل وجسم صحي سليم
                        </h1>
                        <div class="p-0 g-0 row col-lg-10 justify-content-center mx-auto form-search">
                            <div class="col-12 my-2 my-lg-0 col-lg-6">
                                <input type="text" asp-for="Parameters.SearchTearm" name="SearchTearm" class="form-control rounded-end-0" placeholder="الخدمة" />
                            </div>
                            <div class="col-12 my-2 my-lg-0 col-lg-3">
                                <input placeholder="بحث" type="submit" value="بحث" class="form-control rounded-start-0 text-center" style="background-color: #e4dfff" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-0 pt-5 ">
        <div class="row g-0 p-2 justify-content-between pt-5">
            <nav class="row col-7 col-lg-4 p-0 m-0 g-0">
                <ul class="cd-tabs-navigation justify-content-start d-flex gap-3 list-unstyled">
                    <li>
                        @{
                            parms["CurPage"] = "1";
                            parms["CategoryId"] = null;
                        }
                        <a class="text-decoration-none selected text-dark" asp-all-route-data="parms">الكل</a>
                    </li>
                    |
                    <li>
                        @{
                            parms["CurPage"] = "1";
                            parms["CategoryId"] = "3";
                        }
                        <a class="text-decoration-none text-dark" asp-all-route-data="parms">مكملات غذائية</a>
                    </li>
                    |
                    <li>
                        @{
                            parms["CurPage"] = "1";
                            parms["CategoryId"] = "4";
                        }
                        <a class="text-decoration-none text-dark" asp-all-route-data="parms">اجهزة رياضية</a>
                    </li>
                </ul>
            </nav>
            <div class="col-4 col-md-2">
                <select id="lstSort" onchange="submit()" name="SortBy"
                        class="form-select" asp-for="Parameters.SortBy" asp-items="Model.SortList">
                    <option value="" selected>ترتيب حسب</option>
                </select>
            </div>
        </div>
        <div class="row g-0 p-0">
            <div class="col-12 col-lg-4 order-1 order-lg-0">
                <div class="d-flex mb-4 justify-content-center align-items-center">
                    <div class="mx-3"
                         style="height: 40px; width: 4px; background-color: #b9aff5"></div>
                    <h2 class="col-auto mt-3">أحدث المنتجات</h2>
                    <div class="mt-4 mx-4 col"
                         style="height: 2px; width: 50%; background-color: #b9aff5"></div>
                </div>
                <div class="card mb-3 border overflow-hidden bgcol m-2"
                     style="border-radius: 20px">
                    <div class="row g-0">
                        <div class="col-4 p-0">
                            <div class="position-relative w-100 h-100">
                                <img src="https://localhost:7232//Images/Product/Dumbbell3.jfif"
                                     class="shadow w-100 h-100 start-0 top-0 position-absolute p-0 borderimg"
                                     style="object-fit: cover"
                                     alt="..." />
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="card-body p-2" style="background: #eeedf5">
                                <h5 class="card-title m-0 p-2">حزام تنحبف و تخسيس الجسم</h5>
                                <p class="card-text text-danger p-2">$2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 row row-cols-1  row-cols-md-2 row-cols-lg-3 p-0 g-0" id="row">

                @foreach (var item in Model.queryPageResult.ListOfData)
                {
                    <partial name="_ProductCard" model="@item" />

                }
            </div>
        </div>
    </div>

    @{
        parms["CategoryId"] = Model.Parameters.CategoryId ?? "";
        var perv = Model.queryPageResult.PreviousPage.HasValue ? "" : "disabled";
        var next = Model.queryPageResult.NextPage.HasValue ? "" : "disabled";
        var first = (Model.Parameters.CurPage != 1 && Model.queryPageResult.TotalPages != 0) ? "" : "disabled";
        var last = (Model.Parameters.CurPage != Model.queryPageResult.TotalPages && Model.queryPageResult.TotalPages != 0) ? "" : "disabled";
        var firstIndex = Math.Max(Model.Parameters.CurPage - 1, 1);
        var lastIndex = Math.Min(Model.Parameters.CurPage + 1, Model.queryPageResult.TotalPages);
    }
    <nav aria-label="Page navigation example ">
        <ul class="pagination  justify-content-end px-5">
            @{
                parms["CurPage"] = Model.queryPageResult.PreviousPage.ToString() ?? "";
            }
            <li class="page-item"><a class="page-link @perv" asp-all-route-data="parms">الصفحة السابقة</a></li>

            @for (int i = firstIndex; i <= lastIndex; i++)
            {
                parms["CurPage"] = i.ToString();
                string a = Model.Parameters.CurPage == i ? "active" : "";
                <li class="page-item"><a class="page-link @a" asp-all-route-data="parms">@i</a></li>
            }
            @{
                parms["CurPage"] = Model.queryPageResult.NextPage.ToString() ?? "";
            }
            <li class="page-item"><a class="page-link @next" asp-all-route-data="parms">الصفحة التالية</a></li>
        </ul>
    </nav>
</form>




<script src="~/User/js/API/Products/ProductModel.js" asp-append-version="true"></script>
<script src="~/User/js/API/Products/ProductModelApp.js" asp-append-version="true"></script>




