@page
@model liaqati_master.Areas.Admin.Pages.Categories.IndexAllModel
@{
    ViewData["Title"] = "قائمة الأصناف";
    ViewData["LinkName"] = "Categories";

    var parms = new Dictionary<string, string>
    {
        {nameof(Model.categoriesQueryParamters.CurPage),Model.categoriesQueryParamters.CurPage.ToString()},
        {nameof(Model.categoriesQueryParamters.SortBy),Model.categoriesQueryParamters.SortBy},
        {nameof(Model.categoriesQueryParamters.SortOrder),Model.categoriesQueryParamters.SortOrder},
        {nameof(Model.categoriesQueryParamters.Size),Model.categoriesQueryParamters.Size.ToString()},
        {nameof(Model.categoriesQueryParamters.catDescription),Model.categoriesQueryParamters.catDescription??""},
        {nameof(Model.categoriesQueryParamters.catTarget),Model.categoriesQueryParamters.catTarget??""},
        {nameof(Model.categoriesQueryParamters.catName),Model.categoriesQueryParamters.catName??""},
    };
    if (Model.categoriesQueryParamters.SortOrder == "asc")
        parms["SortOrder"] = "desc";
    else
        parms["SortOrder"] = "asc";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/assets/css/Tables.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/lib/sweetalert2/sweetalert2.min.css" asp-append-version="true">

}

<div class="container-lg ">
    <div class="">
        <div class="row ">
            <div class="col-12 col-xl-4 d-flex">
                <div class="card border shadow-none w-100">
                    <div class="card-body">
                        <form method="post" class="row g-3" id="CategoryForm">
                            <div asp-validation-summary="All"></div>
                            <input asp-for="Category.Id" class="form-control">
                            <div class="col-12">

                                <label class="form-label" asp-for="@Model.Category.Name"></label>
                                <input type="text" asp-for="@Model.Category.Name" class="form-control" placeholder="إسم الصنف">
                                <span asp-validation-for="@Model.Category.Name" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <label class="form-label" asp-for="@Model.Category.Target"></label>
                                <select class="form-select" asp-for="@Model.Category.Target" asp-items="Model.LstTargets">
                                    <option value="-1">اختر اسم الجدول</option>
                                </select>
                                <span asp-validation-for="@Model.Category.Target" class="text-danger"></span>

                            </div>
                            <div class="col-12">
                                <label asp-for="@Model.Category.Description" class="form-label"></label>
                                <textarea class="form-control" asp-for="@Model.Category.Description" placeholder="وصف الصنف"></textarea>
                                <span asp-validation-for="@Model.Category.Description" class="text-danger"></span>

                            </div>
                            <div class="col-12">
                                <div class="d-grid">
                                    <input type="submit" class="btn btn-primary" asp-page-handler="Add" id="btnAdd" value="إضافة الصنف">
                                    <input type="submit" class="btn btn-primary d-none" asp-page-handler="Edit" id="btnEdit" value="حفظ التعديلات">
                                </div>
                            </div>
                            <div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-8">
                <form method="get">
                    <input type="hidden" name="CurPage" asp-for="@Model.categoriesQueryParamters.CurPage" />
                    <div class="card p-3 border-raduis">
                        <div class="card-header bg-transparent px-0 py-4 ">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5>@ViewData["Title"]</h5>
                            </div>
                            <div class="d-flex row justify-content-end align-items-end">
                                <div class="col-6 py-2 d-flex gap-3  justify-content-end align-items-end ">
                                    <div>
                                        <label>اسم الجدول</label>
                                        <input type="text" asp-for="@Model.categoriesQueryParamters.catName" class="form-control" placeholder="إسم الصنف" id="catName" name="catName" onchange="submit()">
                                    </div>
                                    <input type="submit" class="btn btn-primary" style="height:40px" value="بحث">
                                </div>
                                <div class="col-6 py-2">
                                    <label>تابع الى</label>
                                    <select class="form-select" asp-for="@Model.categoriesQueryParamters.catTarget" asp-items="Model.LstTargets" id="catTarget" name="catTarget" onchange="submit()">
                                        <option value="-1">اختر اسم الجدول</option>
                                    </select>

                                </div>



                            </div>
                        </div>
                        <div class="table-responsive table-hover">
                            <table class="table  table-borderless" id="Tbl">
                                <thead>
                                    <tr>
                                        <th scope="col" width="50">
                                            <input class="form-check-input " type="checkbox" id="chk-all" value="">
                                        </th>
                                        <th scope="col">إسم الصنف</th>
                                        <th scope="col">الجدول</th>
                                        <th scope="col" width="150">العملية</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model.QueryPageResult.ListOfData is not null)
                                        @if (Model.QueryPageResult.ListOfData.Count() > 0)
                                        {
                                            @foreach (var item in Model.QueryPageResult.ListOfData)
                                            {
                                                <tr>
                                                    <td scope="row">
                                                        <label class="d-block">
                                                            <input class="checkbox_animated" type="checkbox">
                                                        </label>
                                                    </td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Target</td>
                                                    <td>
                                                        <div class="d-flex gap-2">

                                                            <a onclick="ShowDetails('@item.Id','@item.Name','@item.Target','@item.Description');" class="btn"
                                                               style="background-color: #8763b320; color:#3c077d;padding: 0.375rem 0.75rem;">
                                                                <i class="bi bi-pencil-square"></i>
                                                            </a>
                                                            <form asp-page-handler="Delete" method="post" asp-route-id="@item.Id">
                                                                <a class="btn"
                                                                   onclick="DeleteFun(this)"
                                                                   style=" background-color: #d22d3d20; color:#d22d3d;padding: 0.375rem 0.75rem;">
                                                                    <i class="bi bi-trash"></i>
                                                                </a>
                                                            </form>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                        else
                                        {
                                            <tr>
                                                <td colspan="7">
                                                    <div class="d-flex justify-content-center align-items-center flex-column">
                                                        <i class="bi bi-database-fill-slash text-secondary" style="font-size:120px"></i>
                                                        <p>لا يوجد بيانات</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">
                                                <div class="d-flex justify-content-center align-items-center flex-column">
                                                    <i class="bi bi-database-fill-slash text-secondary" style="font-size:120px"></i>
                                                    <p>لا يوجد بيانات</p>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                                <tfoot>
                                    <tr class="border-top bg-light">

                                        <td colspan="10">
                                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                                                <div>
                                                    <span class="d-inline-block me-3 text-sm">
                                                        الحقول من @Model.QueryPageResult.FirstRowOnPage إالى  @Model.QueryPageResult.LastRowOnPage من @Model.QueryPageResult.TotalCount
                                                    </span>
                                                </div>
                                                @{
                                                    var perv = Model.QueryPageResult.PreviousPage.HasValue ? "" : "disabled";
                                                    var next = Model.QueryPageResult.NextPage.HasValue ? "" : "disabled";
                                                    var first = (Model.categoriesQueryParamters.CurPage != 1 && Model.QueryPageResult.TotalPages != 0) ? "" : "disabled";
                                                    var last = (Model.categoriesQueryParamters.CurPage != Model.QueryPageResult.TotalPages && Model.QueryPageResult.TotalPages != 0) ? "" : "disabled";
                                                    var firstIndex = Math.Max(Model.categoriesQueryParamters.CurPage - 2, 1);
                                                    var lastIndex = Math.Min(Model.categoriesQueryParamters.CurPage + 2, Model.QueryPageResult.TotalPages);
                                                }
                                                <div class="d-flex gap-2 justify-content-center align-items-center ">


                                                    <div class="d-flex justify-content-center gap-2 align-items-center">
                                                        <label asp-for="@Model.categoriesQueryParamters.Size" class="text-sm m-0">عدد الصفوف لكل صفحة</label>
                                                        <select name="Size" class="form-select text-sm w-auto" asp-items="@Model.lstPageSize" asp-for="@Model.categoriesQueryParamters.Size" onchange="submit()">
                                                        </select>
                                                    </div>
                                                    <nav aria-label="Page navigation example ">
                                                        <ul class="pagination  justify-content-end ">
                                                            @{
                                                                parms["CurPage"] = "1" ?? "";
                                                            }
                                                            <li class="page-item"><a class="page-link @perv" asp-all-route-data="parms" asp-route-key="" asp-route-value=""><i class='bx bxs-chevrons-right'></i></a></li>
                                                            @{
                                                                parms["CurPage"] = Model.QueryPageResult.PreviousPage.ToString() ?? "";
                                                            }
                                                            <li class="page-item"><a class="page-link @perv" asp-all-route-data="parms" asp-route-key="" asp-route-value=""><i class='bx bxs-chevron-right'></i></a></li>

                                                            <li class="page-item">
                                                                <a class="page-link active">
                                                                    <p class="d-flex justify-content-center gap-3  align-items-center  m-0  text-sm">
                                                                        <span>  @Model.categoriesQueryParamters.CurPage</span> من  <span>@Model.QueryPageResult.TotalPages</span>
                                                                    </p>
                                                                </a>
                                                            </li>

                                                            @{
                                                                parms["CurPage"] = Model.QueryPageResult.NextPage.ToString() ?? "";
                                                            }
                                                            <li class="page-item"><a class="page-link @next" asp-all-route-data="parms" asp-route-key="" asp-route-value=""><i class='bx bxs-chevron-left'></i></a></li>
                                                            @{
                                                                parms["CurPage"] = Model.QueryPageResult.TotalPages.ToString() ?? "";
                                                            }
                                                            <li class="page-item"><a class="page-link @next" asp-all-route-data="parms" asp-route-key="" asp-route-value=""><i class='bx bxs-chevrons-left'></i></a></li>
                                                        </ul>
                                                    </nav>


                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                        <partial name="_Manage__data" />
                    </div>



                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/javascript/table.js" asp-append-version="true"></script>
    <script src="~/javascript/script.js" asp-append-version="true"></script>
    <script src="~/assets/js/print.js"></script>


    <script>
        var categoryform = document.getElementById("CategoryForm");
        var btnAdd = document.getElementById("btnAdd");
        var btnEdit = document.getElementById("btnEdit");
        function ShowDetails(Id, Name, Target, Description) {
            btnEdit.classList.remove('d-none');
            btnAdd.classList.add('d-none');
            categoryform.querySelector('#Category_Id').value = Id;
            categoryform.querySelector('#Category_Name').value = Name;
            categoryform.querySelector('#Category_Target').value = Target;
            categoryform.querySelector('#Category_Description').value = Description;
        }

    </script>

    @if (Model.showModel == IndexAllModel.ShowModelCat.Edit)
    {
        <script>
            btnEdit.classList.remove('d-none');
            btnAdd.classList.add('d-none');
        </script>

    }
}
