@page
@model liaqati_master.Areas.Admin.Pages.Categories.IndexAllModel
@{
    ViewData["Title"] = "قائمة الأصناف";
    ViewData["LinkName"] = "Categories";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/assets/css/Tables.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/lib/sweetalert2/sweetalert2.min.css" asp-append-version="true">
}
<div class="container-lg ">
    <div class="">
        <div class="row ">
            <div class="col-12 col-xl-4 d-flex">
                <div class="card border shadow-none w-100">
                    <div class="card-body">
                        <form method="post" class="row g-3" id="CategoryForm">
                            <div asp-validation-summary="All"></div>
                            <input asp-for="Category.Id" class="form-control">
                            <div class="col-12">
                                <label class="form-label" asp-for="Category.Name"></label>
                                <input type="text" asp-for="Category.Name" class="form-control" placeholder="إسم الصنف">
                                <span asp-validation-for="Category.Name" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <label class="form-label" asp-for="Category.Target"></label>
                                <select class="form-select" asp-for="Category.Target" asp-items="Model.LstTargets">
                                    <option value="-1">اختر اسم الجدول</option>
                                </select>
                                <span asp-validation-for="Category.Target" class="text-danger"></span>

                            </div>
                            <div class="col-12">
                                <label asp-for="Category.Description" class="form-label"></label>
                                <textarea class="form-control" asp-for="Category.Description" placeholder="وصف الصنف"></textarea>
                                <span asp-validation-for="Category.Description" class="text-danger"></span>

                            </div>
                            <div class="col-12">
                                <div class="d-grid">
                                    <input type="submit" class="btn btn-primary" asp-page-handler="Add" id="btnAdd" value="إضافة الصنف">
                                    <input type="submit" class="btn btn-primary d-none" asp-page-handler="Edit" id="btnEdit" value="حفظ التعديلات">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-8">
                <div class="card p-3 border-raduis">
                    <div class="card-header bg-transparent px-0 py-4 ">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5>@ViewData["Title"]</h5>
                        </div>
                    </div>
                    <div class="table-responsive table-hover">
                        <table class="table  table-borderless" id="Tbl">
                            <thead>
                                <tr>
                                    <th scope="col" width="50">
                                        <input class="form-check-input " type="checkbox" id="chk-all" value="">
                                    </th>
                                    <th scope="col">إسم الصنف</th>
                                    <th scope="col">الجدول</th>
                                    <th scope="col" width="150">العملية</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.LstCategory)
                                {
                                    <tr>
                                        <td scope="row">
                                            <label class="d-block">
                                                <input class="checkbox_animated" type="checkbox">
                                            </label>
                                        </td>
                                        <td>@item.Name</td>
                                        <td>@item.Target</td>
                                        <td>
                                            <div class="d-flex gap-2">

                                                <a onclick="ShowDetails('@item.Id','@item.Name','@item.Target','@item.Description');" class="btn"
                                                   style="background-color: #8763b320; color:#3c077d;padding: 0.375rem 0.75rem;">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>
                                                <form asp-page-handler="Delete" method="post" asp-route-id="@item.Id">
                                                    <a class="btn"
                                                       onclick="DeleteFun(this)"
                                                       style=" background-color: #d22d3d20; color:#d22d3d;padding: 0.375rem 0.75rem;">
                                                        <i class="bi bi-trash"></i>
                                                    </a>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <partial name="_Manage__data" />
                </div>
            </div>

        </div>
    </div>
    <partial name="_ConfirmDeleteModel" />
    <partial name="_ImageViewer" />
</div>

<!-- Modal -->
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/javascript/table.js" asp-append-version="true"></script>
    <script src="~/javascript/script.js" asp-append-version="true"></script>

    <script>
        var categoryform = document.getElementById("CategoryForm");
        var btnAdd = document.getElementById("btnAdd");
        var btnEdit = document.getElementById("btnEdit");
        function ShowDetails(Id, Name, Target, Description) {
            btnEdit.classList.remove('d-none');
            btnAdd.classList.add('d-none');
            categoryform.querySelector('#Category_Id').value = Id;
            categoryform.querySelector('#Category_Name').value = Name;
            categoryform.querySelector('#Category_Target').value = Target;
            categoryform.querySelector('#Category_Description').value = Description;
        }

    </script>

    @if (Model.showModel == IndexAllModel.ShowModelCat.Edit)
    {
        <script>
            btnEdit.classList.remove('d-none');
            btnAdd.classList.add('d-none');
        </script>

    }
}
