@page
@model liaqati_master.Pages.MealPlan.CreateModel
@{
    ViewData["Title"] = "إضافة إنجاز";
    ViewData["LinkName"] = "Categories";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form asp-page-handler="Add" method="post" class="form theme-form">
                        <h3 class="pb-3">@ViewData["Title"]</h3>
                        <div asp-validation-summary="All"></div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label asp-for="MealPlan.Services!.Title"></label>
                                    <input asp-for="MealPlan.Services!.Title" class="form-control" placeholder="">
                                    <span asp-validation-for="MealPlan.Services!.Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label asp-for="MealPlan.Services!.Price"></label>
                                    <input asp-for="MealPlan.Services!.Price" class="form-control" placeholder="">
                                    <span asp-validation-for="MealPlan.Services!.Price" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="col-12">
                                <div class="mb-3">
                                    <label asp-for="MealPlan.Services!.Description"></label>
                                    <textarea asp-for="MealPlan.Services!.Description" class="form-control rich-editor" placeholder=""></textarea>
                                    <span asp-validation-for="MealPlan.Services!.Description" class="text-danger"></span>

                                </div>
                            </div> <div class="col-12">
                                <div class="mb-3">
                                    <label asp-for="MealPlan.Services!.ShortDescription"></label>
                                    <input asp-for="MealPlan.Services!.ShortDescription" class="form-control" placeholder="">
                                    <span asp-validation-for="MealPlan.Services!.ShortDescription" class="text-danger"></span>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="MealPlan.MealType"></label>
                                    <br />
                                    @for (var index = 0; index < @Model.lstCheckBox.Count(); index++)
                                    {
                                        <label class="form-check-label p">
                                            @Model.MealType[index]
                                        </label>
                                        <input type="hidden" asp-for="@Model.lstCheckBox[index].Name" />

                                        <input type="checkbox" asp-for="@Model.lstCheckBox[index].IsChecked" />


                                        if ((index + 1) % 3 == 0)
                                        {
                                            <br />
                                        }
                                    }





                                    @*                                    <input asp-for="MealPlan.MealType" class="form-control" placeholder="">
                                    *@                                    <span asp-validation-for="MealPlan.MealType" class="text-danger"></span>

                                </div>
                    
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="MealPlan.DietaryType"></label>
                                    @*                                  <input asp-for="MealPlan.DietaryType" class="form-control" placeholder="">
                                    *@
                                    <label asp-for="MealPlan.DietaryType"></label>
                                    <br />
                                    @for (var index = 0; index < @Model.lstCheckBoxDietaryType.Count(); index++)
                                    {
                                        <label class="form-check-label p">
                                            @Model.DietaryType[index]
                                        </label>
                                        <input type="hidden" asp-for="@Model.lstCheckBoxDietaryType[index].Name" />

                                        <input type="checkbox" asp-for="@Model.lstCheckBoxDietaryType[index].IsChecked" />


                                        if ((index + 1) % 3 == 0)
                                        {
                                            <br />
                                        }
                                    }
                                    <span asp-validation-for="MealPlan.DietaryType" class="text-danger"></span>

                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="MealPlan.AvgRecipeTime"></label>
                                    <input asp-for="MealPlan.AvgRecipeTime" class="form-control" placeholder="">
                                    <span asp-validation-for="MealPlan.AvgRecipeTime" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="mb-3">
                                    <label class="d-block" asp-for="MealPlan.Length"></label>
                                    <select style="height:35px;" class="col-12 border border-light rounded-3" id="selectLength" asp-for="MealPlan.Length">
                                        <option value="-1">ادخل عدد اسابيع النظام الرياضي</option>
                                        <option value="1">اسبوع</option>
                                        <option value="2">اسبوعين</option>
                                        <option value="4">  اربعة اسابيع</option>
                                    </select>
                                    <span class="text-danger" asp-validation-for="MealPlan.Length"></span>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="MealPlan.Services!.Category!.Name"></label>
                                    <select style="height:35px;" class="col-12 border border-light rounded-3" asp-for="MealPlan.Services!.CategoryId" asp-items="Model.CatogeryName">
                                        <option value="-1"> ادخل اسم الصنف الخاص بالنظام الرياضي</option>

                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-end ">
                            <div class="col-sm-4 justify-content-end d-flex">
                                <div class="mb-3">
                                    <button class="btn-primary btn  mx-auto col-auto" type="submit"> حقظ التعديلات <i class="bi bi-plus-square-dotted"></i> </button>
                                    <a class="btn-danger btn  mx-auto col-auto" asp-page="./Index"> الغاء <i class="bi bi-arrow-90deg-down"></i></a>
                                </div>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div>
        @{
            if (Model.MealPlan.Meal_Healthy != null)
            {
                <table class="table table-striped table-hover table-bordered table-responsive">
                    <thead class="table-Secondary">
                        <tr>

                            <th scope="col">الاسبوع</th>
                            <th scope="col">اليوم</th>
                            <th scope="col"> اسم التمرين</th>
                        </tr>
                    </thead>
                    <tbody id="">



                        @for (int x = 0; x < Model.MealPlan.Meal_Healthy!.Count; x++)
                        {

                            string? id = Model.MealPlan.Meal_Healthy[x].HealthyRecdpeId;
                            HealthyRecipe? HealthyRecipe = await Model.getHealthyRecipe(id!);



                            <tr class="bg-Success">
                                <td> الاسبوع @Model.MealPlan.Meal_Healthy[x].Week   </td>
                                <td> اليوم @Model.MealPlan.Meal_Healthy[x].Day   </td>
                                <td>@HealthyRecipe?.Title</td>

                                <td>
                                    @{
                                        var item = @Model.MealPlan.Meal_Healthy[x];
                                        item.MealPlan = null;
                                        item.HealthyRecipe = null;
                                    }


                                </td>



                            </tr>

                        }
                        }




                    </tbody>
                </table>


            }



        }
    </div>
</div>


<div id="DivSystem" class="container-lg my-5  @Model.Display">
    <div class="row justify-content-center my-5">
        <div data-v-2eea9796="" class="col-md-12">
            <div class="field-value">
                <div class="form-label d-flex flex-row align-items-center justify-content-between">
                    <div></div>
                </div>
                <div class="bg-white p-4">

                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label>اختر الاسبوع </label>
                                <select style="height:35px;" class="col-12 border border-light rounded-3" name="Week" id="selectLengthWeek">
                                    <option disabled value="-1">اختر الاسبوع</option>


                                    @for (int x = 1; x <= Model.MealPlan!.Length; x++)
                                    {
                                        <option value="@x">  الاسبوع @x</option>

                                    }





                                </select>
                            </div>

                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label class="d-block"> اختر اليوم</label>
                                <select style="height:35px;" class="col-12 border border-light rounded-3" id="selectDays"
                                        placeholder="اكتب شيئاً...">
                                    <option value="1">اليوم الاول</option>
                                    <option value="2">اليوم الثاني</option>
                                    <option value="3">اليوم الثالث</option>
                                    <option value="4">اليوم الرابع</option>
                                    <option value="5">اليوم الخامس</option>
                                    <option value="6">اليوم السادس</option>
                                    <option value="7">اليوم السابع</option>
                                </select>

                            </div>

                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="d-block"> اختر الوجبات الخاصة بالنظام الغذائي</label>
                                <select onchange="SelectHealtyFun()" style="height:35px;" class="col-12 border border-light rounded-3 select2_Exercises" id="SelectgetdataHealties" multiple="multiple">
                                    <option value="-1">  اختر الوجبة  الغذائية</option>
                                </select>
                            </div>

                        </div>

                        <div class="col-auto py-4">
                            <form id="formHealthySystem" method="post" asp-page="Create" asp-page-handler="AddSystem">
                                <input name="Id" value="@Model.MealPlan.Id" id="MealIdSystem" name="id" asp-for="MealPlan.Id" hidden />

                                <a id="BtnAddHealthyRecipe"
                                   class="text-nowrap bg-white fw-medium btn btn-outline-primary">
                                    <i class="bi bi-plus h5 fw-bold"></i>
                                </a>
                            </form>

                        </div>


                    </div>

                    <div class="col-4">
                        <label>لاضافة وجبة غذائية غير موجودة  </label>
                        <a asp-area="admin" asp-page="/healthyreicpe/create"
                           class="text-nowrap bg-white fw-medium btn btn-outline-primary">
                            <i class="bi bi-plus h5 fw-bold"></i>
                        </a>
                    </div>










                </div>


            </div>

        </div>
    </div>
</div>





<div>
    <a asp-page="Index">Back to List</a>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

@*
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>

    <script>

        $(".select2_Exercises").select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: false,
            tags: true,
            allowClear: true,
        });
    </script>*@



    <script src="~/jsapi/healthyapi.js"></script>
    <script src="~/javascript/healthycrud.js"></script>
    <script src="~/jsapi/mealhealthy.js"></script>

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/javascript/richtexteditor.js" asp-append-version="true"></script>
}
